<!-- 
    ROS navigation stack with velocity smoother and safety (reactive) controller
-->
<launch>
 

<include file="$(find multiRobot_exploration)/launch/localization/robot_2_localization.launch"/>
  <arg name="odom_frame_id"   default="/robot_2/world"/>
  <arg name="base_frame_id"   default="/robot_2/base_link"/>
  <arg name="global_frame_id" default="/map"/>
  <arg name="odom_topic" default="/robot_2/odom_rf2o" />
  <arg name="laser_topic" default="/robot_2/scan" />
  <arg name="custom_param_file" default="$(find multiRobot_exploration)/param/param_uav2/dummy.yaml"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_robot_2" output="screen">
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/move_base_params.yaml" command="load" />
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/global_planner_params.yaml" command="load" />
    <rosparam file="$(find multiRobot_exploration)/param/param_uav2/navfn_global_planner_params.yaml" command="load" />
    <!-- external params file that could be loaded into the move_base namespace -->
    <rosparam file="$(arg custom_param_file)" command="load" />
    
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

    <remap from="cmd_vel" to="/robot_2/cmd_vel"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
  </node>
</launch>
